@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Contato";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<div class="hero-unit">
    <h1>
        Contatos</h1>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Twitter
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Gibran Silva
                    </td>
                    <td>
                        <a href="mailto:gibran.silva@gmail.com">gibran.silva@gmail.com</a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com/ggibran">@Html.Raw("@ggibran")</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Douglas Aguiar
                    </td>
                    <td>
                        <a href="mailto:doaguiar@gmail.com">doaguiar@gmail.com</a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com/DouglasAguiar">@Html.Raw("@DouglasAguiar")</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
