<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Contato";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<div class="hero-unit">
    <h1>
        Contatos</h1>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Twitter
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Gibran Silva
                    </td>
                    <td>
                        <a href="mailto:gibran.silva@gmail.com">gibran.silva@gmail.com</a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com/ggibran">@Html.Raw("@ggibran")</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Douglas Aguiar
                    </td>
                    <td>
                        <a href="mailto:doaguiar@gmail.com">doaguiar@gmail.com</a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com/DouglasAguiar">@Html.Raw("@DouglasAguiar")</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Glauco Vinicius
                    </td>
                    <td>
                        <a href="mailto:gl4uc0@gmail.com">gl4uc0@gmail.com</a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com/glauco">@Html.Raw("@glauco")</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
