@using DevDay.Helpers
<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Evento DevDay - Belo Horizonte - Outubro/2012" />
    <meta name="author" content="DevIsland" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/bootstrap.css")" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/font-awesome.css")" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/portfolio.css")" />
    @RenderSection("css", false)
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <a href="#">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="@Url.Content("~/Content/img/bannerdata.png")" alt="Fork me on GitHub">
    </a>
    <div class="container">
        <div style="margin-top: 10px;">
            <img src="@Url.Content("~/Content/img/devday2.png")" width="200px" alt="logo" />
            <ul class="nav nav-pills pull-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Palestras", "Index", "Palestras")</li>
                <li>@Html.ActionLink("Palestrantes", "Index", "Palestrantes")</li>
                <li>@Html.ActionLink("Inscrições", "Index", "Inscricoes")</li>
                <!--
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Inscrições<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Evento", "Index", "Inscricoes")</li>
                            <li>@Html.ActionLink("Desafio", "Authenticate", "Account")</li>
                        </ul>
                    </li>
                -->
                <li>@Html.ActionLink("Local", "Index", "Local")</li>
                <li>@Html.ActionLink("Agenda", "Index", "Agenda")</li>
                <li>@Html.ActionLink("Patrocinadores", "Index", "Patrocinadores")</li>
                <li>@Html.ActionLink("Edições Anteriores", "Index", "Gallery")</li>
            </ul>
        </div>

        @RenderBody()
    </div>
    <br />
    @RenderSection("footerpatrocinio", false)
    <div class="footer">
        <div class="container">
            <div class="fb-like" data-href="https://www.facebook.com/DevIsland" data-send="false" data-width="650"
                data-show-faces="true" data-action="recommend">
            </div>
            <div>
                &copy; DevIsland 2012 - Contatos: Gibran Silva (<a href="http://twitter.com/ggibran">@Html.Raw("@ggibran")</a>, gibran.silva@gmail.com) e Douglas Aguiar (<a href="http://twitter.com/DouglasAguiar">@Html.Raw("@DouglasAguiar")</a>, doaguiar@gmail.com)
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Content/js/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.js")" type="text/javascript"></script>
    @RenderSection("js", false)
    @Html.RenderScripts()
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=255164787916716";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11685238-1']);
        _gaq.push(['_setDomainName', '.devisland.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
