<div class="container well well-large" style="background-color: white">
    <div class="row">
        <div class="span7">
            <h3 style="color: gray">
                <strong>Patrocinadores Ouro</strong></h3>
            <ul class="thumbnails ouro">
                <li><a href="http://www.una.br" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logouna.jpg")" alt="UNA" />
                </a></li>
                <li><a href="http://arkhi.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logoarkhi.jpg")" alt="Arkhi" />
                </a></li>
                <li><a href="http://silexsistemas.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logosilex.jpg")" alt="Sílex" />
                </a></li>
            </ul>
        </div>
        <div class="span5">
            <h3 style="color: gray">
                <strong>Patrocinadores Prata</strong></h3>
            <ul class="thumbnails prata">
                <li><a href="http://www.frameworksystem.com/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/prata/logoframework.jpg")" alt="Framework System" />
                </a></li>
                <li><a href="http://www.eteg.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/prata/logoeteg.jpg")" alt="Eteg" />
                </a></li>
                <li><a href="@Url.Content("~/Content/download/DevDay2012.pdf")" class="thumbnail" target="_blank" >
                    <img src="http://placehold.it/216x148&text=Sua%20Marca" alt="SuaMarca" />
                </a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3 style="color: gray">
                <strong>Patrocinadores Bronze</strong></h3>
            <ul class="thumbnails bronze">
                <li><a href="http://www.sitewarebrasil.com/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logositeware.jpg")" alt="Siteware" />
                </a></li>
                <li><a href="http://www.2xt.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logo2xt.jpg")" alt="2xt" />
                </a></li>
                <li><a href="http://nitrato.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logoNitrato.jpg")" alt="Nitrato" />
                </a></li>
                <li><a href="@Url.Content("~/Content/download/DevDay2012.pdf")" class="thumbnail" target="_blank" >
                    <img src="http://placehold.it/216x148&text=Sua%20Marca" alt="" />
                </a></li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="span12">
            <h4 style="color: gray">
                <strong>Apoio</strong></h4>
            <ul class="thumbnails apoio">
                <li><a href="http://www.fumsoft.org.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logofumsoft.jpg")" alt="fumsoft" />
                </a></li>
                <li><a href="http://www.caelum.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logocaelum.jpg")" alt="caelum" />
                </a></li>
                <li><a href="http://www.locaweb.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logolocaweb.jpg")"  alt="locaweb" />
                </a></li>
                <li><a href="http://www.pluralsight.com/training/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoPluralsight.jpg")"  alt="Pluralsight" />
                </a></li>
                <li><a href="http://servergrove.com.br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoservergrove.jpg")" alt="Servergrove" />
                </a></li>
                <li><a href="http://www.behance.net/BrunoMyrrha" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoBrunoDiniz.jpg")"  alt="brunodiniz" />
                </a></li>
                <li><a href="http://www.infoq.com/br/" class="thumbnail" target="_blank">
                    <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoInfoQBrasil.jpg")"  alt="InfoQ" />
                </a></li>
            </ul>
        </div>
    </div>
</div>
