@model DevDay.Models.VM.Credential
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Autentique-se";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}

<div class="hero-unit">
    <h1>Autentique-se</h1>
    <h3>Se já se inscreveu informe o e-mail utilizado no PagSeguro</h3>
</div>
<div class="row home-columns">
    <div class="span4 home-column clearfix">
        <i class="icon-download-alt pull-left"></i>
        <div class="content">
            <h2>Download das regras</h2>
            <p>
                Clique <a href="@Url.Content("~/Content/download/RegrasOficiais.pdf")">aqui</a> para fazer o download das regras oficiais.
            </p>
        </div>
    </div>
    <div class="span4 home-column clearfix">
        <i class="icon-search pull-left"></i>
        <div class="content">
            <fieldset>
                <legend>Solicitar senha de acesso</legend>
                @using (Html.BeginForm("SendPassword", "Account", FormMethod.Post))
                {
                    <div>
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Email)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <p>
                        <input type="submit" value="Solicitar senha de acesso" class="btn btn-info" />
                    </p>
                }
            </fieldset>
        </div>
    </div>
    <div class="span4 home-column clearfix">
        <i class="icon-user pull-left"></i>
        <div class="content">
            <fieldset>
                <legend>Autenticar-se</legend>
                @using (Html.BeginForm("Authenticate", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)

                    <div>
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Email)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Password)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <p>
                        <input type="submit" value="Entrar" class="btn btn-primary btn-info" />
                    </p>
                }
            </fieldset>
        </div>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="row">
        <div class="span12 alert">
            @ViewBag.Message
        </div>
    </div>
}