<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Patrocinadores";
}
<div class="hero-unit">
    <h1>Patrocinadores</h1>
</div>
<div class="container">
    <h3>OURO</h3>
    <ul class="thumbnails">
        <li class="span3"><a href="http://www.una.br" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logouna.jpg")" width="270" alt="UNA" />
        </a></li>
        <li class="span3"><a href="http://arkhi.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logoarkhi.jpg")" width="270" alt="Arkhi" />
        </a></li>
        <li class="span3"><a href="http://www.codehouse.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/ouro/logocodehouse.png")" width="270" alt="CodeHouse" />
        </a></li>
    </ul>
    <h3>PRATA</h3>
    <ul class="thumbnails">
        <li class="span3"><a href="http://www.frameworksystem.com/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/prata/logoframework.jpg")" width="216" alt="Framework System" />
        </a></li>
        <li class="span3"><a href="http://www.eteg.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/prata/logoeteg.jpg")" width="216" alt="Eteg" />
        </a></li>
        <li><a href="@Url.Content("~/Content/download/DevDay2012.pdf")" class="thumbnail" target="_blank" >
            <img src="http://placehold.it/216x148&text=Sua%20Marca" alt="" />
            <span class="caption" style="width: 216px; height: 148px"><i class="icon-circle-arrow-right"></i></span>
        </a></li>
    </ul>
    <h3>BRONZE</h3>
    <ul class="thumbnails">
        <li><a href="http://www.siteware.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logositeware.jpg")" width="189" alt="Siteware" />
        </a></li>
        <li><a href="http://www.2xt.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logo2xt.jpg")" width="205" alt="2xt" />
        </a></li>
        <li><a href="http://nitrato.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logoNitrato.jpg")" width="189" alt="Nitrato" />
        </a></li>
        <li><a href="http://www.lambda3.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/bronze/logoLambda3.png")" width="189" alt="Lambda3" />
        </a></li>
    </ul>
    <h3>APOIO</h3>
    <ul class="thumbnails">
        <li><a href="http://www.fumsoft.org.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logofumsoft.jpg")" width="100" alt="fumsoft" />
        </a></li>
        <li><a href="http://www.caelum.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logocaelum.jpg")" width="100" alt="caelum" />
        </a></li>
        <li><a href="http://www.locaweb.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logolocaweb.jpg")" width="100" alt="locaweb" />
        </a></li>
        <li><a href="http://www.pluralsight.com/training/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoPluralsight.jpg")" width="100" alt="pluralsight" />
        </a></li>
        <li><a href="http://servergrove.com.br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoservergrove.jpg")" width="100" alt="servergrove" />
        </a></li>
        <li><a href="http://www.infoq.com/br/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoInfoQBrasil.jpg")" width="100" alt="InfoQ" />
        </a></li>
        <li><a href="http://www.behance.net/BrunoMyrrha" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoBrunoDiniz.jpg")" width="100" alt="brunodiniz" />
        </a></li>
        <li><a href="http://www.microsoft.com.br" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/logoms.png")" width="100" alt="microsoft" />
        </a></li>
    </ul>
    <h3>Comunidades</h3>
    <ul class="thumbnails">
        <li><a href="http://twitter.com/devisland" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logodevisland.jpg")" width="70" alt="devisland" />
        </a></li>
        <li><a href="http://twitter.com/horaextrabh" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logohoraextrabh.jpg")" width="70" alt="horaextrabh" />
        </a></li>
        <li><a href="http://twitter.com/pangeanet" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logopangea.jpg")" width="70" alt="pangeanet" />
        </a></li>
        <li><a href="http://python-mg.github.com/" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logopythonmg.jpg")" width="70" alt="pythonmg" />
        </a></li>
        <li><a href="http://bh.gtugs.org/home" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logoGDGBH.jpg")" width="70" alt="gdgbh" />
        </a></li>
        <li><a href="http://braziljs.com.br" class="thumbnail" target="_blank">
            <img src="@Url.Content("~/Content/img/patrocinadores/apoio/comunidade/logobraziljs.png")" width="100" alt="braziljs" style="margin-top: 15px" />
        </a></li>
    </ul>
</div>
