@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item item1" style="background-image:url(@Url.Content("~/Content/img/devday2011.jpg")); background-repeat:no-repeat;">
        </div>
        <div class="item item1">
            <br />
            <p class="caption" style="padding-left: 70px">
                Confira os <a href="@Url.Action("Index", "Local")">hotéis indicados</a>
            </p>
            <p>
        </div>
        <div class="item item2">
            <p class="caption">
                Participe do <a href="@Url.Action("Authenticate", "Account")">desafio DevDay</a>!
            </p>
        </div>
        <div class="item item3">
            <p class="caption">
                #HoraExtraBH
            </p>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
        href="#myCarousel" data-slide="next">&rsaquo;</a>
    <br />
    <div class="row home-columns">
        <div class="span4 home-column clearfix">
            <i class="icon-file pull-left"></i>
            <div class="content">
                <h2>Recomendações</h2>
                <p>
                    @Html.ActionLink("Confira alguns hotéis e restaurantes recomendados, próximos ao local do evento.", "Index", "Local")
                </p>
            </div>
        </div>
        <div class="span4 home-column clearfix">
            <i class="icon-edit pull-left"></i>
            <div class="content">
                <h2>Inscrições</h2>
                <p>
                    Fique ligado nas datas das inscrições. Não perca tempo e seja o primeiro a fazer a diferença! <a href="@Url.Action("Index", "Inscricoes")">Faça já a sua.</a>
                </p>
            </div>
        </div>
        <div class="span4 home-column clearfix">
            <i class="icon-map-marker pull-left"></i>
            <div class="content">
                <h2>Local</h2>
                <p>
                    O evento será onde vocês já conhecem, no Auditório da UNA Aimorés. <a href="@Url.Action("Index", "Local")">Confira.</a>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span2">
                <p>
                    <img alt="Alcebíades Araújo" height="114" src="@Url.Content("~/Content/img/foto-keynote1-alcebiades.jpg")" width="100">
                </p>
                <p>Alcebíades Araújo</p>
            </div>
            <div class="span5">
                <h3>Keynote - Star Wars - Como o maior filme de ficção de todos tempos nos inspira a fazer projetos vencedores!</h3>
                <p>
                    A palestra apresentará a verdadeira saga do projeto de construção do filme e debaterá as lições que podemos tirar sobre liderança, agilidade, colaboração, foco no resultado e reuso.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span5 offset5">
                <h3>Keynote - O Programador Lean</h3>
                <p>
                    O objetivo deste Keynote é demonstrar como se tornar um Programador Lean, usando práticas que melhoram o fluxo de trabalho, promovem a colaboração, criam transparência e que permitem você auxiliar seus gestores a tomar decisões melhores.
                </p>
            </div>
            <div class="span2">
                <p>
                    <img alt="Rodrigo Yoshima" height="114" src="@Url.Content("~/Content/img/foto-keynote2-rodrigo.jpg")">
                </p>
                <p>Rodrigo Yoshima</p>
            </div>
        </div>
    </div>
</div>
