<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item item1" style="background-image:url(@Url.Content("~/Content/img/devday2011.jpg")); background-repeat:no-repeat;">
        </div>
        <div class="item item1">
            <br />
            <p class="caption" style="padding-left: 70px">
                Agradecemos as submissões de temas
                <br />
                e estamos os avaliando com toda atenção.
            </p>
            <p>
        </div>
        <div class="item item2">
            <p class="caption">
                #DevIsland
            </p>
        </div>
        <div class="item item3">
            <p class="caption">
                #HoraExtraBH
            </p>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
        href="#myCarousel" data-slide="next">&rsaquo;</a>
    <br />
    <div class="row home-columns">
        <div class="span4 home-column clearfix">
            <i class="icon-file pull-left"></i>
            <div class="content">
                <h2>Desafio Windows 8</h2>
                <p>
                    Participe do Desafio #DevDay2012, submetendo seu aplicativo até 01 de Outubro.
                    <br />
                    <a href="@Url.Action("Authenticate", "Desafio")">Submeta seu aplicativo!</a>
                </p>
            </div>
        </div>
        <div class="span4 home-column clearfix">
            <i class="icon-edit pull-left"></i>
            <div class="content">
                <h2>Inscrições</h2>
                <p>
                    Fique ligado nas datas das inscrições. Não perca tempo e seja o primeiro a fazer a diferença! <a href="@Url.Action("Index", "Inscricoes")">Faça já a sua.</a>
                </p>
            </div>
        </div>
        <div class="span4 home-column clearfix">
            <i class="icon-map-marker pull-left"></i>
            <div class="content">
                <h2>Local</h2>
                <p>
                    O evento será onde vocês já conhecem, no Auditório da UNA Aimorés. <a href="@Url.Action("Index", "Local")">Confira.</a>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span2">
                <p>
                    <img alt="Alcebíades Araújo" height="114" src="@Url.Content("~/Content/img/foto-keynote1-alcebiades.jpg")" width="100">
                </p>
                <p>Alcebíades Araújo</p>
            </div>
            <div class="span5">
                <h3>Keynote - Star Wars - Como o maior filme de ficção de todos tempos nos inspira a fazer projetos vencedores!</h3>
                <p>
                    A palestra apresentará a verdadeira saga do projeto de construção do filme e debaterá as lições que podemos tirar sobre liderança, agilidade, colaboração, foco no resultado e reuso.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span5 offset5">
                <h3>Keynote - O Programador Lean</h3>
                <p>
                    O objetivo deste Keynote é demonstrar como se tornar um Programador Lean, usando práticas que melhoram o fluxo de trabalho, promovem a colaboração, criam transparência e que permitem você auxiliar seus gestores a tomar decisões melhores.
                </p>
            </div>
            <div class="span2">
                <p>
                    <img alt="Rodrigo Yoshima" height="114" src="@Url.Content("~/Content/img/foto-keynote2-rodrigo.jpg")">
                </p>
                <p>Rodrigo Yoshima</p>
            </div>
        </div>
    </div>
</div>
